<div class="row">
    <h2>
        Educacion y Conocimientos
    </h2>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>terciario</h3> -
                <h4>(años)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit veritatis perspiciatis quasi, iusto, autem nulla temporibus nesciunt numquam, illum earum rem velit quia. Exercitationem consectetur, accusantium quasi dolor molestiae quod.
            </p>
        </ul>
        <ul>
            <li>
                <h3>Tecnico</h3> -
                <h4>(años)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit veritatis perspiciatis quasi, iusto, autem nulla temporibus nesciunt numquam, illum earum rem velit quia. Exercitationem consectetur, accusantium quasi dolor molestiae quod.
            </p>
        </ul>
        <ul>
            <li>
                <h3>Programador</h3> -
                <h4>(años)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit veritatis perspiciatis quasi, iusto, autem nulla temporibus nesciunt numquam, illum earum rem velit quia. Exercitationem consectetur, accusantium quasi dolor molestiae quod.
            </p>
        </ul>

    </div>
</div>
