<div class="row">
    <h2>
        Educacion y Conocimientos
    </h2>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>terciario</h2> -
                <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit veritatis perspiciatis quasi, iusto, autem nulla temporibus nesciunt numquam, illum earum rem velit quia. Exercitationem consectetur, accusantium quasi dolor molestiae quod.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Tecnico</h2> -
                <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit veritatis perspiciatis quasi, iusto, autem nulla temporibus nesciunt numquam, illum earum rem velit quia. Exercitationem consectetur, accusantium quasi dolor molestiae quod.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Programador</h2> -
                <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit veritatis perspiciatis quasi, iusto, autem nulla temporibus nesciunt numquam, illum earum rem velit quia. Exercitationem consectetur, accusantium quasi dolor molestiae quod.
            </p>
        </ul>

    </div>
</div>
