<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-goup">
                    <label for="nombreEd">Nombre de la Institucion</label>
                    <input type="text" class="form-control" id="nombreEd" name="nombreEd" [(ngModel)]="nombreEd" required>
                </div>
                <div class="form-goup">
                    <label for="descripcionEd">Descripcion de Estudios</label>
                    <input type="text" class="form-control" id="descripcionEd" name="descripcionEd" [(ngModel)]="descripcionEd" required>
                </div>
                <button class="btn btn-primary">
                    Añadir Educacion
                </button>

            </form>
        </div>
    </div>

</div>

