<div class="row">
    <h3>
        Experiencia laboral
    </h3>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h4>Nuevas Mujeres S.R.L  (años)</h4> -
                <h5>Desarrollo de Produccion</h5>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit veritatis perspiciatis quasi, iusto, autem nulla temporibus nesciunt numquam, illum earum rem velit quia. Exercitationem consectetur, accusantium quasi dolor molestiae quod.
            </p>
        </ul>
        <ul>
            <li>
                <h4>Din Dan S.R.L (años)</h4> -
                <h5>Gerente de Ventas</h5>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit veritatis perspiciatis quasi, iusto, autem nulla temporibus nesciunt numquam, illum earum rem velit quia. Exercitationem consectetur, accusantium quasi dolor molestiae quod.
            </p>
        </ul>
        <ul>
            <li>
                <h4>Madet S.A (años)</h4> -
                <h5>Tecnico Supervisor</h5>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit veritatis perspiciatis quasi, iusto, autem nulla temporibus nesciunt numquam, illum earum rem velit quia. Exercitationem consectetur, accusantium quasi dolor molestiae quod.
            </p>
        </ul>

    </div>
</div>