<div class="row">
    <h2>Habilidades duras y blandas</h2>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [backgroundOpacity]="1"
        [outerStrokeGradientStopColor]="'transparent'"
        [backgroundGradient]="true"
        [backgroundStroke]="'transparent'"
        [backgroundGradientStopColor]="'#acd4e3'"
        [outerStrokeColor]="'#5274fd'"
        [showInnerStroke]="false"
        [innerStrokeColor]="'#1e96fc'"
        [titleColor]="'#5274fd'"
        [subtitle]="'HTML'"
        [subtitleFontSize]="'20'"
        [subtitleColor]="'#5274fd'"
        [unitsColor]="'#5274fd'"
        [showImage]="false"
        [imageSrc]="'../../../../assets/imagenes/logo skill/html.png'"
        [imageHeight]="80"
        [imageWidth]="80"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [backgroundOpacity]="1"
        [outerStrokeGradientStopColor]="'transparent'"
        [backgroundGradient]="true"
        [backgroundStroke]="'transparent'"
        [backgroundGradientStopColor]="'#acd4e3'"
        [outerStrokeColor]="'#5274fd'"
        [showInnerStroke]="false"
        [innerStrokeColor]="'#1e96fc'"
        [titleColor]="'#5274fd'"
        [subtitle]="'CSS'"
        [subtitleFontSize]="'20'"
        [subtitleColor]="'#5274fd'"
        [unitsColor]="'#5274fd'"
        [showImage]="false"
        [imageSrc]="'../../../../assets/imagenes/logo skill/html.png'"
        [imageHeight]="80"
        [imageWidth]="80"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [backgroundOpacity]="1"
        [outerStrokeGradientStopColor]="'transparent'"
        [backgroundGradient]="true"
        [backgroundStroke]="'transparent'"
        [backgroundGradientStopColor]="'#acd4e3'"
        [outerStrokeColor]="'#5274fd'"
        [showInnerStroke]="false"
        [innerStrokeColor]="'#1e96fc'"
        [titleColor]="'#5274fd'"
        [subtitle]="'JS'"
        [subtitleFontSize]="'20'"
        [subtitleColor]="'#5274fd'"
        [unitsColor]="'#5274fd'"
        [showImage]="false"
        [imageSrc]="'../../../../assets/imagenes/logo skill/html.png'"
        [imageHeight]="80"
        [imageWidth]="80"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [backgroundOpacity]="1"
        [outerStrokeGradientStopColor]="'transparent'"
        [backgroundGradient]="true"
        [backgroundStroke]="'transparent'"
        [backgroundGradientStopColor]="'#acd4e3'"
        [outerStrokeColor]="'#5274fd'"
        [showInnerStroke]="false"
        [innerStrokeColor]="'#1e96fc'"
        [titleColor]="'#5274fd'"
        [subtitle]="'TS'"
        [subtitleFontSize]="'20'"
        [subtitleColor]="'#5274fd'"
        [unitsColor]="'#5274fd'"
        [showImage]="false"
        [imageSrc]="'../../../../assets/imagenes/logo skill/html.png'"
        [imageHeight]="80"
        [imageWidth]="80"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [backgroundOpacity]="1"
        [outerStrokeGradientStopColor]="'transparent'"
        [backgroundGradient]="true"
        [backgroundStroke]="'transparent'"
        [backgroundGradientStopColor]="'#acd4e3'"
        [outerStrokeColor]="'#5274fd'"
        [showInnerStroke]="false"
        [innerStrokeColor]="'#1e96fc'"
        [titleColor]="'#5274fd'"
        [subtitle]="'LIDERAZGO'"
        [subtitleFontSize]="'18'"
        [subtitleColor]="'#5274fd'"
        [unitsColor]="'#5274fd'"
        [showImage]="false"
        [imageSrc]="'../../../../assets/imagenes/logo skill/html.png'"
        [imageHeight]="80"
        [imageWidth]="80"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [backgroundOpacity]="1"
        [outerStrokeGradientStopColor]="'transparent'"
        [backgroundGradient]="true"
        [backgroundStroke]="'transparent'"
        [backgroundGradientStopColor]="'#acd4e3'"
        [outerStrokeColor]="'#5274fd'"
        [showInnerStroke]="false"
        [innerStrokeColor]="'#1e96fc'"
        [titleColor]="'#5274fd'"
        [subtitle]="'COMUNICACION'"
        [subtitleFontSize]="'16'"
        [subtitleColor]="'#5274fd'"
        [unitsColor]="'#5274fd'"
        [showImage]="false"
        [imageSrc]="'../../../../assets/imagenes/logo skill/html.png'"
        [imageHeight]="80"
        [imageWidth]="80"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [backgroundOpacity]="1"
        [outerStrokeGradientStopColor]="'transparent'"
        [backgroundGradient]="true"
        [backgroundStroke]="'transparent'"
        [backgroundGradientStopColor]="'#acd4e3'"
        [outerStrokeColor]="'#5274fd'"
        [showInnerStroke]="false"
        [innerStrokeColor]="'#1e96fc'"
        [titleColor]="'#5274fd'"
        [subtitle]="'TRABAJO EN EQUIPO'"
        [subtitleFontSize]="'13'"
        [subtitleColor]="'#5274fd'"
        [unitsColor]="'#5274fd'"
        [showImage]="false"
        [imageSrc]="'../../../../assets/imagenes/logo skill/html.png'"
        [imageHeight]="80"
        [imageWidth]="80"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [backgroundOpacity]="1"
        [outerStrokeGradientStopColor]="'transparent'"
        [backgroundGradient]="true"
        [backgroundStroke]="'transparent'"
        [backgroundGradientStopColor]="'#acd4e3'"
        [outerStrokeColor]="'#5274fd'"
        [showInnerStroke]="false"
        [innerStrokeColor]="'#1e96fc'"
        [titleColor]="'#5274fd'"
        [subtitle]="'SOLUC. PROBLEMAS'"
        [subtitleFontSize]="'13'"
        [subtitleColor]="'#5274fd'"
        [unitsColor]="'#5274fd'"
        [showImage]="false"
        [imageSrc]="'../../../../assets/imagenes/logo skill/html.png'"
        [imageHeight]="80"
        [imageWidth]="80"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [backgroundOpacity]="1"
        [outerStrokeGradientStopColor]="'transparent'"
        [backgroundGradient]="true"
        [backgroundStroke]="'transparent'"
        [backgroundGradientStopColor]="'#acd4e3'"
        [outerStrokeColor]="'#5274fd'"
        [showInnerStroke]="false"
        [innerStrokeColor]="'#1e96fc'"
        [titleColor]="'#5274fd'"
        [subtitle]="'SERV. CLIENTE'"
        [subtitleFontSize]="'18'"
        [subtitleColor]="'#5274fd'"
        [unitsColor]="'#5274fd'"
        [showImage]="false"
        [imageSrc]="'../../../../assets/imagenes/logo skill/html.png'"
        [imageHeight]="80"
        [imageWidth]="80"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
</div>
