<div class="row">
    <h3>Proyectos</h3>
    <div class="col-lg-2">
        <button type="button" class="btn btn-primary" routerLink="/nuevopro" *ngIf="isLogged">
            Añadir proyecto
        </button>
    </div> 
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyecto of proyecto">
                    <td class="col-lg-3"><h6>{{Proyecto.nombreP}}</h6></td>
                    <td class="col-lg-7"> {{Proyecto.descripcionP}}</td>
                    <td class="col-lg-1" *ngIf="isLogged"><button class="btn btn-primary" routerLink="/editpro/{{Proyecto.id}} ">
                        <i class="bi bi-pencil-fill"></i></button></td>
                        
                    <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Proyecto.id)">
                        <i class="bi bi-trash"></i></button></td>
                </tr>
            </tbody>

        </table>

    </div>

</div>