
    <div>
        <app-login></app-login>
        <a href="#"><img src="../../../../assets/imagenes/redes sociales/facebook.png" class="img-fluid" alt="Icono facebook"></a>
        <a href="#"><img src="../../../../assets/imagenes/redes sociales/whatsapp.webp" class="img-fluid" alt="Icono whatsapp"></a>
        <a href="#"><img src="../../../../assets/imagenes/redes sociales/instagram.webp" class="img-fluid" alt="Icono instagram"></a>
        <a href="#"><img src="../../../../assets/imagenes/redes sociales/youtube.png" class="img-fluid" alt="Icono youtube"></a>
    
   </div>
   
