<div class="container">
    <div class="row">
            <a href="#"><img src="../../../../assets/imagenes/redes sociales/facebook.png" alt="Icono facebook"></a>
            <a href="#"><img src="../../../../assets/imagenes/redes sociales/whatsapp.webp" alt="Icono whatsapp"></a>
            <a href="#"><img src="../../../../assets/imagenes/redes sociales/instagram.webp" alt="Icono instagram"></a>
            <a href="#"><img src="../../../../assets/imagenes/redes sociales/youtube.png" alt="Icono youtube"></a>

    </div>

</div>
