<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/imagenes/fotos christian/foto2.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p>Christian Maceda </p>
        <P>Full Stack Develloper Jr</P>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <h1>Acerca de</h1>
            <P>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit perferendis esse quidem. Natus voluptatum magni molestias consequatur qui assumenda optio blanditiis quasi, eum aperiam saepe distinctio deleniti pariatur nostrum laboriosam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptate mollitia architecto omnis, quibusdam incidunt veritatis numquam doloremque vel laborum dolorum. Voluptate ab, qui sequi nihil maxime doloribus! Eveniet, non!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nesciunt, dicta fugit laborum blanditiis, fuga ad corporis, quo illum in sunt esse at. Eos sunt quia qui vitae amet eum!
            </P>
        </div>

    </div>

</div>



        

