
img{
    
    width: 200px;
    border-radius: 100px;
}

div{
    text-align: center;
}

p{
    color: #5274fd;
}

hr {
    border: 0;
    border-top: 2px solid #5274fd; 
    border-bottom: 2px solid #333;
    height:0;
    }

    span{
        color: #5274fd;
        font-size: xx-large;
    }

    .info{
        color: #5274fd;
        margin-left: 10px;
    }

.nombre{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.nivel{
    font-size: large;
    text-align: center;
}
