<div class="row">
    <h3>Educacion</h3>
    <div class="col-lg-2">
        <button type="button" class="btn btn-primary" routerLink="/nuevaedu" *ngIf="isLogged">
            Agregar Educacion
        </button>
    </div> 
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td><h6>{{Educacion.nombreEd}}</h6></td>
                    <td> {{Educacion.descripcionEd}}</td>
                    <td *ngIf="isLogged"><button class="btn btn-primary" routerLink="/editedu/{{Educacion.id}} ">
                        <i class="bi bi-pencil-fill"></i>Editar</button></td>
                        
                    <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Educacion.id)">
                        <i class="bi bi-trash"></i>Borrar</button></td>
                </tr>
            </tbody>

        </table>

    </div>

</div>